{% extends "base/base.html" %}
{% block titulo %}
Lista Producto
{% endblock titulo %}


{% block css %}
<style type="text/css" media="screen">
.cursor:hover{
  cursor: pointer; 

}
.tr:hover{
  color: black;
  background-color: #C2BFBF;
}


.app{
  font-family:Cooper Black;

}
</style>
{% endblock css %}

{% block container %}
<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="x_panel">
    <div class="x_title">
      <h2 class="app">Lista de Productos</h2>
      <ul class="nav navbar-right panel_toolbox">
        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
        </li>

        <li><a class="close-link" href="{% url 'usuario:inicio' %}"><i class="fa fa-close"></i></a>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <div class="x_content">
      <p class="text-muted font-13 m-b-30">
        Este es una tabla donde contiene los datos de los Productos registrados.
      </p>
      <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead style="">
          <tr>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Descripcion</th>
            <th>Costo unitario</th>
            <th>Costo Venta</th>
            <th>Stock Actual</th>
            <th>Proveedor</th>
            <th>Aciones</th>       
          </tr>
        </thead>
        <tbody>
          {% if productos %}
          {% for producto in productos %}
          <tr class="tr">
            <td class="cursor">{{ producto.nombre }}</td>
            <td class="cursor">{{ producto.cod_categoria }}</td>
            <td class="cursor">{{ producto.descripcion }}</td>
            <td class="cursor">{{ producto.costo_unitario }}</td>
            <td class="cursor">{{ producto.costo_venta }}</td>
            <td class="cursor"><span class="badge">{{ producto.stock_actual }}</span></td>

            <td class="cursor">{{ producto.proveedor }}</td>
            <td>
              <a  href="{% url 'editar_producto' producto.id %}" class="btn btn-info btn-sm" data-toggle="tooltip" title="Editar!">
                <span class="glyphicon glyphicon-edit"></span>  
              </a>
              <a  onclick="return abrir_modal('{% url 'detalle_producto' producto.pk %}')" href="" class="btn btn-success btn-sm" data-toggle="tooltip" title="Detalles!">
                <span class="glyphicon glyphicon-tasks"></span>  
              </a>
              <a  href="" class="btn btn-danger btn-sm">
                <span class="glyphicon glyphicon-remove" data-toggle="tooltip" title="Eliminar!"></span>
              </a>              
            </td>
          </tr>
          {% endfor %}
          {% else%}
          <h1>No registros </h1>
          {% endif %}
        </tbody>

      </table>
    </div>
  </div>
</div>

<div id="popup" class="modal fade" role="dialog"></div>
<script>
function abrir_modal(url)
{
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        return false;
}

function cerrar_modal()
{
        $('#popup').modal('hide');
        return false;
}
</script>
{% endblock container %}
{% block js %}
<script language="javascript">
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip(); 
});
</script>
{% endblock js %}